/* BelieverQuote.css */
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
  }
  
  .quote-container {
    background-color: #add8e6; /* Light blue background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
    overflow: hidden; /* Hide the overflow to create the moving effect */
  }
  
  .quote-text {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    padding: 20px;
    margin: 0;
    white-space: nowrap; /* Prevent the text from wrapping */
    animation: moveRight 30s linear infinite; /* Adjust the duration and other properties as needed */
  }
  
  .moving-text {
    display: inline-block;
  }
  
  @keyframes moveRight {
    0% {
      transform: translateX(100%); /* Start offscreen to the right */
    }
    100% {
      transform: translateX(-100%); /* Move offscreen to the left */
    }
  }
  
  @media (max-width: 768px) {
    .quote-text {
      font-size: 1.2rem;
    }
  }
  